<header id="header" class="background-blur">
    <div class="container d-flex">

        <div id="headerLogo" class="logo text-center w-100">
            <h1 class="text-light m-0 p-0"><a [routerLink]="['/']">تر<span>تيل</span></a></h1>
        </div>

        <!-- <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">الرئيسية</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/']">القراء</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/advices']">وقفات</a></li>
            </ul>
        </nav> -->

    </div>
</header>