<header id="header" class="background-blur d-flex">
    <div class="container d-flex justify-content-between">

        <div id="headerLogo" class="logo">
            <h1 class="text-light m-0 p-0"><a [routerLink]="['/']">{{ appName }}</a></h1>
        </div>

        <div class="header-actions">
            <app-standard-button
              variant="outline-primary"
              size="sm"
              *ngIf="!isUserLoggedIn"
              [routerLink]="['/auth/login']">
              دخول
            </app-standard-button>

            <app-standard-button
              variant="outline-primary"
              size="sm"
              *ngIf="isUserLoggedIn"
              (clicked)="onLogout()">
              خروج
            </app-standard-button>
        </div>
        

        <!-- <nav class="nav-menu">
            <ul>
                <li routerLinkActive="active"><a [routerLink]="['/']">القراء</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/advices']">وقفات</a></li>
            </ul>
        </nav> -->

    </div>
</header>