<header id="header">
    <div class="container d-flex">

        <div id="headerLogo" class="logo">
            <h1 class="text-light"><a href="index.html">تراويح رمضان</a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">الرئيسية</a></li>
                <li class=""><a href="mosques.html">المساجد</a></li>
                <li class=""><a href="readers.html">القراء</a></li>
                <li class=""><a href="advices-text.html">وقفات رمضانية</a></li>
                <li class=""><a href="advices-videos.html">فقرات دينية</a></li>
            </ul>
        </nav>

        <div id="install-btn-section">
            <button id="install-btn" class="btn btn-warning"> تنزيل ☇ </button>
        </div>

    </div>
</header>