#header {
    pointer-events: auto;
    background: rgba(128, 128, 128, 0.15);
    border: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header .logo {
    margin-left: unset !important;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: var(--primary-gold) !important;
}

@media (min-width: 992px) {
    #header .nav-menu {
        flex: 1;
        justify-content: center;
        text-align: center;
        display: flex !important;
    }
}