<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-reader.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animated fadeInUp fadeInDown">
                        <h2>تراويح رمضان مع قرائك المفضل</h2>
                        <p>تقدر تبحث عن قارئك المفضل وتعرف هيصلى فين انهارده</p>
                        <div class="text-center"><a href="./readers.html" class="btn-get-started">تصفح القراء</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-mosque.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animated fadeInUp fadeInDown">
                        <h2>تراويح رمضان فى اقرب مسجد</h2>
                        <p>تقدر تبحث عن اي مسجد وتعرف القارئ اللي فيه انهارده</p>
                        <div class="text-center"><a href="./mosques.html" class="btn-get-started">تصفح المساجد</a></div>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators">
            <li data-bs-target="#heroCarousel" data-bs-slide-to="0" class=""></li>
            <li data-bs-target="#heroCarousel" data-bs-slide-to="1" class="active"></li>
        </ol>

    </div>
</section>