<div class="reader-form-container">

  <!-- Forms Container -->
  <div class="forms-container">

    <div class="row">

      <div class="col-12 col-lg-6">
        <!-- Personal Information Form -->
        <app-reader-info-form [initialData]="readerData" (formSubmit)="onReaderInfoSubmit($event)"
          (formCancel)="onReaderInfoCancel()" (hasChanges)="checkReaderInfoChanges()">
        </app-reader-info-form>
      </div>

      <div class="col-12 col-lg-6">
        <!-- Audio Recordings Form -->
        <app-audio-recordings-form [reader]="readerData" [initialData]="audioRecordingsData" (formSubmit)="onAudioRecordingsSubmit($event)"
          (formCancel)="onAudioRecordingsCancel()">
        </app-audio-recordings-form>
      </div>

    </div>

  </div>

</div>