<app-slider-image />


<main id="main">
    <section id="services" class="advice-section services index-services">
        <div class="container">

            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>احدث <strong> القراءات </strong></h2>
            </div>

            <div class="row" id="advices">

                <!-- @for (advice of advices; track advice.id) { 
                    <div class="col-lg-4 col-md-6">
                        <card-item [title]="advice.title">
                            <div class="description">
                                <p>" {{ advice.description }} "</p>

                                <p class="author">{{ advice.author }}</p>
                            </div>
                        </card-item>
                    </div>
                } -->

            </div>

            <div class="text-center aos-init" data-aos="fade-up">
                <a [routerLink]="['/advices']" id="more-advices-btn">المزيد</a>
            </div>
        </div>
    </section>
</main>